body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-height: 100vh;
    margin-top: 10px;
    overflow-y: auto;
    text-align: center;
}

.user {
        margin-bottom: 30px;
}

.time-appointment, .date-appointment, .doctor-select {
    margin-bottom: 30px;
}

#title {
    color: #32a491;
    font-weight: bold;
    font-size: 30px;
}

/*Estilo de Input*/
.user input::placeholder {
    font-size: 20px;
    font-weight: bold;
}

.user input {
    border-color: #32a491;
    border-top: #000000;
    border-left: #000000;
    border-right: #000000;
    background-color: #EAEAEA;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.user input:focus {
    outline: none;
}

/* Estilos generales del contenedor */
.doctor-select, .service-select {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

/* Estilos de la etiqueta */
.doctor-select label {
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #333;
}

.service-select label {
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #333;
}

/* Estilos del select */
.doctor-select select {
    appearance: none;
    -webkit-appearance: none; /* Safari & Chrome */
    -moz-appearance: none; /* Firefox */
    padding: 0.75em;
    border: 2px solid #32a491;
    border-radius: 8px;
    font-size: 1em;
    color: #333;
    background-color: #f9f9f9;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23007bff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75em center;
    background-size: 0.65em auto;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.service-select select {
    appearance: none;
    -webkit-appearance: none; /* Safari & Chrome */
    -moz-appearance: none; /* Firefox */
    padding: 0.75em;
    border: 2px solid #32a491;
    border-radius: 8px;
    font-size: 1em;
    color: #333;
    background-color: #f9f9f9;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23007bff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75em center;
    background-size: 0.65em auto;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover y focus */
.doctor-select select:hover, .service-select select:hover {
    border-color: #32a491;
}

.doctor-select select:focus, .service-select select:focus {
    outline: none;
    border-color: #32a491;
    box-shadow: 0 0 0 3px #32a491;
}

/* Estilos generales del contenedor */
.date-appointment {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

/* Estilos de la etiqueta */
.date-appointment label {
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #333;
}

/* Estilos del input */
.date-appointment input[type="text"] {
    padding: 0.75em;
    border: 2px solid #32a491;
    border-radius: 8px;
    font-size: 1em;
    background-color: #f9f9f9;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23007bff' d='M2 2h16v2H2V2zm1 4h14v12H3V6zm2 2v2h2V8H5zm4 0v2h2V8H9zm4 0v2h2V8h-2z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75em center;
    background-size: 1em auto;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover y focus */
.date-appointment input[type="text"]:hover {
    border-color: #32a491;
}

.date-appointment input[type="text"]:focus {
    outline: none;
    border-color: #32a491;
    box-shadow: 0 0 0 3px #32a491;
}


/*
Estilo boton back
*/

#btn-back {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
}

#btn-back>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

#btn-back:hover>svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

#btn-back:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}