body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-height: 100vh;
    margin-top: 10px;
    overflow-y: auto;
    text-align: center;
}

.user {
        margin-bottom: 30px;
}

.time-appointment, .date-appointment, .doctor-select {
    margin-bottom: 30px;
}

#title {
    color: #32a491;
    font-weight: bold;
    font-size: 30px;
}

/*Estilo de Input*/
input::placeholder {
    font-size: 20px;
    font-weight: bold;
}

.user input {
    border-color: #32a491;
    border-top: #000000;
    border-left: #000000;
    border-right: #000000;
    background-color: #EAEAEA;
    border-radius: 5px;
    width: 40%;
    height: 40px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.user input:focus {
    outline: none;
}

/*
Estilo boton back
*/

#btn-back {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
}

#btn-back>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

#btn-back:hover>svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

#btn-back:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}