body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-height: 100vh;
    margin-top: 10px;
    overflow-y: auto;
    text-align: center;
}

#title {
    color: #32a491;
    font-weight: bold;
    font-size: 50px;
}

.user {
    margin-bottom: 30px;
}

.password {
    margin-bottom: 30px;
}

.user input {
    border-color: #32a491;
    border-top: #000000;
    border-left: #000000;
    border-right: #000000;
    background-color: #EAEAEA;
    border-radius: 5px;
    width: 40%;
    height: 40px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.password input {
    border-color: #32a491;
    border-top: #000000;
    border-left: #000000;
    border-right: #000000;
    background-color: #EAEAEA;
    border-radius: 5px;
    width: 40%;
    height: 40px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.user input:focus {
    outline: none;
}

.password input:focus {
    outline: none;
}

#showPassword {
    margin-top: 10px;
}

/*
Estilo boton
*/

.btn-register {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #32a491;
    margin-top: 10px;
}

.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

.btn-register:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

.btn-register:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

.btn-register:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

.btn-register:active {
    transform: translate(2px, 2px);
}

/*Estilo de Input*/
input::placeholder {
    font-size: 20px;
    font-weight: bold;
}

/*
Estilo boton back
*/

#btn-back {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
}

#btn-back>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

#btn-back:hover>svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

#btn-back:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}